<footer class="footer bg-light text-dark">
  <div class="container">
    <div class="row">
      <div class="col-lg-6 mt-5">
        <h5>About</h5>
        <p>A online and random chat!</p>
      </div>
      <div class="col-lg-6 mt-5">
        <h5>Reach me</h5>
        <ul class="list-unstyled">
          <li>
            <i class="fas fa-map-marker-alt"></i> Made in Colombia with love
          </li>
          <li>
            <i class="fas fa-envelope"></i> estebantoro.greenman@gmail.com
          </li>
          <li>
            <i class="fab fa-github"></i>
            <a
              href="https://github.com/softEsteban"
              target="_blank"
              class="custom-link"
            >
              github.com/softEsteban
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="text-center py-3">&copy; 2023 All rights reserved.</div>
</footer>
