<div class="container">
  <div class="row mt-5">
    <div class="col-md-4">
      <h5 class="mb-3">Online Users</h5>
      <ul class="list-group">
        <li
          class="list-group-item"
          *ngFor="let user of chatService.onlineUsers"
          [ngClass]="{ active: user === chatService.userName }"
        >
          {{ user }}
        </li>
      </ul>
      <button class="btn btn-primary mt-3 mb-3" (click)="backToHome()">
        Back to Home
      </button>
    </div>

    <div class="col-md-8 d-flex flex-column mb-3">
      <h5 class="mb-3">Chat Space</h5>
      <div class="card flex-grow-1" style="height: 400px; overflow-y: auto">
        <div class="card-body">
          <app-messages [messages]="chatService.messages"></app-messages>
        </div>
      </div>
      <div class="input-group mt-3">
        <app-chat-input (contentEmitter)="sendMessage($event)"></app-chat-input>
      </div>
    </div>
  </div>
</div>
